@{
    ViewBag.Title = "ติดต่อ";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Name:</strong>ศิริชัย (ไก่)<br />
    <strong>Mobile:</strong>086-566-8606<br />
    <strong>Line ID:</strong> birdtc12<br />
    <strong>facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100002950381436" target="_blank">ขายการ์ตูน รับซื้อหนังสือ</a>
</address>