@{
    ViewBag.Title = "วิธีการสั่งซื้อ";
}

<h2>@ViewBag.Title</h2>
<section>
    <p>1.จองสินค้าผ่านทาง <a href="https://www.facebook.com/profile.php?id=100002950381436&fref=ts" alt="">Facebook</a> หรือ <strong>Line ID:</strong> birdtc12 (ใครจองก่อนมีสิทธิ์ก่อน)</p>
    <p>2.เราจะทำการคำนวณราคาสินค้าทั้งหมดแล้วแจ้งกลับไปยังคุณลูกค้า</p>
    <p>3.โอนเงินมาที่บัญชี xxx-xxxx-xxxxx</p>
    <p>4.แจ้งการชำระเงินผ่านทาง Facebook หรือ Line</p>
</section>
<hr />
<h2>วิธีการรับสินค้า</h2>
<section>
    <p>1.ส่งทางไปรษณีย์</p>
    <p>2.นัดเจอเพื่อรับสินค้า</p>
</section>
<hr/>
<h2>วิธีการชำระเงิน</h2>
<section>
    <p>1.ผ่านทางบัญชี xxx-xxx-xxxxx</p>    
</section>