@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /*$('#list').click(function (event) {
                event.preventDefault();
                $('#products .item').addClass('list-group-item');
            });*/

            $('#products .item').addClass('list-group-item');

            $('#grid').click(function (event) {
                event.preventDefault();
                $('#products .item').removeClass('list-group-item');
                //$('#products .item').addClass('grid-group-item');
            });

        });

        $(function () {
            $("img.lazy").lazy();
        });


    </script>

}

@section Styles{

    <style type="text/css">
        .productbox {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 8px 6px -6px #999;
            -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
        }

            .productbox img {
                height: 250px;
            }

        .producttitle {
            font-weight: bold;
            padding: 5px 0 5px 0;
        }

        .productprice {
            border-top: 1px solid #dadada;
            padding-top: 5px;
        }

        .pricetext {
            font-weight: bold;
            font-size: 1.4em;
        }
    </style>

}

<h2>สำนักพิมพ์ Vibulkji</h2>
<div class="col-md-4 column productbox">
    <img src="@Url.Action("Thumbnail3", new { url = "https://scontent-a-sin.xx.fbcdn.net/hphotos-xpa1/t1.0-9/10525577_585183238256684_8194723171280670862_n.jpg", w = 360, h = 250 })" alt="เนกิมะ" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-4 column productbox">
    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-4 column productbox">
    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
    <div class="producttitle">Product 3</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div class="col-md-4 column productbox">
    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
    <div class="producttitle">Product 4</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>
<div style="clear:both"></div>