
<div class="bg-warning" style="padding:10px;">
    <h5 style="color:red">โปรดอ่านก่อนโอนเงิน</h5>
    <section>
        <ul>
            <li>
                อย่าโอนเงินก่อนทางร้านคอนเฟิร์มสินค้า ถ้าโอนเงินมาก่อนคอนเฟิร์มแล้วไม่มีสินค้า ทางร้านจะโอนเงินคืนแต่ลูกค้าต้องรับผิดชอบค่าโอนเงินกลับเอง
            </li>
            <li>
                ปกติทางร้านได้รับออเดอร์แล้วจะคอนเฟิร์มกลับภายใน 1 วัน หาก หากเกินกว่านี้กรุณาติดต่อร้านค้าได้ที่เบอร์ 086-566-8606
            </li>
            <li>
                ทางร้านจะจองหนังสือไว้เป็นระยะเวลา 2 วัน ถ้าไม่โอนเงินภายใน 2 วันเราจะทำการยกเลิกและขายสินค้าให้กับลูกค้าท่านอื่นๆต่อไป
            </li>
        </ul>
    </section>
</div>